doctype html
html(lang="en")
  head
    style
      include ../styles/litera.css
      include ../styles/formstyle.css
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="description" content)
    meta(name="author" content= "Intelligent Garden Co")
    title Redefine Password
  
  body
    block content
